<%- include("./partials/head.ejs") %> 
<%- include("./partials/header.ejs") %>
<div class=container>
    <div class = "row productos">
        <div class="titulo col-12">
            <h1><%-producto.name%></h1>
        </div>
        <div class="col-12">
            <div class="contenido">
                <figure class=" contenido col-12 col-lg-8">
                    <img src="/images/productos/<%- producto.image %> " alt="">
                </figure>
                <article class="col-12 col-lg-4">
                    <h5><%-producto.description%></h5>
                    <div class="cantidad col-12">
                        <h2 class="col-4 col-md-2 col-lg-5">$<%-producto.price%></h2>
                        <form class="col-8 col-md-3 col-lg-7">
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                        <option selected>cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="5">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="botones col-12">
                        <button class="btn btn-secondary btn-lg col-6">Agregar a carrito</button>
                        <button class="btn btn-primary btn-lg col-6">Comprar</button>
                    </div>
                </article> 
            </div>
        </div>
    </div>
</div>     
            <div class="container-fluid">
                <div class="row recomendaciones">
                    <h3 class="col-12">Ademas te recomendamos</h3>
                    <% recomendaciones.forEach(recomendacion => { %>
                        <% if(recomendacion!=producto){%> 
                        <div class="col-12 col-md-4">
                            <article>
                                <h3><%-recomendacion.name%></h3>
                                <img src="/images/productos/<%-recomendacion.image%>" alt="">
                                <h2>$<%-recomendacion.price%></h2>
                            </article>
                        </div>
                        <% } %> 
                    <% }) %> 
                </div>
            </div>
        </div>  
    </div>
</div> 
<%- include("./partials/footer.ejs") %> 
