<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<div class="contenedor">
    <form class="mtx" action="/products/edit?_method=PUT" method="POST">
    <div>
        <label class="col-3" for="">Edición de <%-producto.name%></label>
        <input type="text" placeholder="Ingrese el nombre del producto" name="nombre" value="<%-producto.name%>">
    </div>
    <br>
    <div>
        <label class="col-3" for="">Precio</label>
        <input type="number" placeholder="Ingrese precio del producto" name="precio" value="<%-producto.price%>">
    </div>
    <br>
    <div>
        <label class="col-3" for="">Descuento</label>
        <input type="number" placeholder="Ingrese descuento del producto" name="discount" value="<%-producto.discount%>">
    </div>
    <br>
    <div>
        <label class="col-3 col-md-3" for="">Categoria</label>
        <select class="col-8" name="categoria" value="<%-producto.category%>">
            <option>Empanadas</option>
            <option>hamburgesa</option>
            <option>pizzas</option>
            <option>Tartas</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label class="col-3" for="exampleFormControlSelect2">Clasificacion</label>
        <select multiple class="form-control" id="exampleFormControlSelect2" name="clasificacion" value="<%-producto.classification%>">
            <option>Oferta del dia</option>
            <option>Mas vendidos</option>
            <option>Sector Saludable</option>
            <option>Bebidas</option>
            <option>Recomendacion del cheff</option>
        </select>
    </div>
    <div>
        <label class="col-3" for="">Cantidad</label>
        <input type="number" placeholder="Ingrese stock disponible" name="stock" value="<%-producto.stock%>">
    </div>
    <br>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Detalle del producto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="<%-producto.description%>" name="descripcion" value="<%-producto.description%>" rows="3"></textarea>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <br>
    <button class="btn btn-dark">Subir Producto</button>
    <br>
    <input class="btn btn-primary" type="reset" value="Reset">
    </form>
</div>
<%- include("./partials/footer.ejs") %>